.carrier-edit-page {
    @media screen and (max-width: 1199px) {
        .table-wrapper {
            overflow-x: auto;
            table {
                width: 1366px;
            }
        }
    }
    @media screen  and (max-width: 1024px)  {
        .width_80px {
            width: 65px;
        }
        .calc_width_80 {
            width: calc(100% - 65px);
        }        
    }
    @media screen and (min-width: 768px) and (max-width: 1024px)  {
        .width_20  {
            margin-bottom: 10px;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 991px)  {
        .width_20  {
            width: 33%;
        }
    }
    @media screen and (max-width: 767px)  {
        .width_20  {
            flex-direction: column;
            width: 100%;
        }
    }    
}