<ng-container>
  <app-header></app-header>
  <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
    <!-- <button class="m-aside-left-close" id="m_aside_left_close_btn"  >
                <i class="la la-close"></i>
              </button>
              <ng-container  >
                <app-aside-left></app-aside-left>
              </ng-container>-->
    <div #mContentWrapper class="m-grid__item m-grid__item--fluid m-wrapper">
      <app-sub-header></app-sub-header>
      <div class="m-content" #mContent>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
  <!--<m-scroll-top></m-scroll-top>-->
</ng-container>