<div class="page-container">    
    <div class="component-container mb10">
        <div class="title-con">
            Gateway Transfer Picture
        </div>
        <div class="content-con padding15">
            <div class="text-center">
                <img class="img-thumbnail" src="../../../../assets/images/image1.jpg" alt="" />
            </div>           
        </div>
    </div>
    <div class="nav-con">
        <div class="btn-group-link">
            <div class="d-flex flex-column flex-md-row justify-content-center">
                <div class="mr-auto">
                    <button class="btn-primary btn5">Update Image</button>
                    <button class="btn-primary btn5">Add Image</button>
                    <button class="btn-primary btn5">Delete Image</button>
                </div>
                <button class="ml-auto btn-primary border-radius-5">Close</button>
            </div>
        </div>
    </div>
</div>