<div class="page-container dcalculator-page sp-component-container"> 
  <div class="sp-component-container-inner">
    <div class="max-w980 margin_auto">
        <div class="title">View Dimensions</div>
        <div class="radio-btn-group">
          <div class="radiobtn-option-con">
            <label class="radio-btn-option">
              <input type="radio" checked="checked" value="standard" name="radio" >
              <span class="checkmark"></span>
              Standard
            </label>
          </div>
        </div>
        <div class="table-wrapper max-w980">
          <table id="DimensionalCalculator" class="calculator-table table table-striped table-bordered table-fixed">
            <thead>
              <tr>
                <th class="paddleft40">PCS</th>
                <th class="paddleft40">LENGTH</th>
                <th class="paddleft40">WIDTH</th>
                <th class="paddleft40">HEIGHT</th>
                <th class="paddleft40">DIM WT.</th>
              </tr>
            </thead>
            <perfect-scrollbar style="max-height: 510px;" [scrollIndicators]>
            <tbody style="max-height: 510px; overflow: auto;">
              <tr *ngFor="let row of freightDimensions;let i= index">           
                <td class="paddleft40">{{row.pieces}}</td>
                <td class="paddleft40">{{row.length}}</td>
                <td class="paddleft40">{{row.width}}</td>
                <td class="paddleft40">{{row.height}}</td>
                <td class="paddleft40">{{row.weightInLb}}</td>
              </tr>
            </tbody>
          </perfect-scrollbar>
          </table>
        </div>
        <div class="total-con flex-column flex-md-row max-w980 align-items-center">
          <div class="item-con">
            <label class="label-nomandatory ">Total Dimensions LBS:</label>
            <div class="ip-con">
              <span>{{totalDimInLBS}}</span>
            </div>
          </div>
          <div class="item-con">
            <label class="label-nomandatory ">Total Dimensions KG:</label>
            <div class="ip-con">
              <span> {{totalDimInKG}}</span>
            </div>
          </div>
          <div class="item-con">
            <label class="label-nomandatory ">Total pieces:</label>
            <div class="ip-con">
              <span> {{totalPieces}} </span>
            </div>
          </div>
        </div>
    </div>
    <div class="nav-con max-w980 margin_auto mt20">
        <div class="d-flex flex-row mb0">
            <button type="button" class="btn btn-primary ml-auto tab-w110px" (click)="closeBtnClickHandler($event)">Close Form</button>
        </div>
    </div>
  </div>
</div>
