.timer-popup {
    .component-container {
        .content-con {
            text-align: center;
            padding : 30px;
            .btn-group {
                margin-top: 20px;
                .btn-primary {
                    width: 70px;
                    margin-right: 15px;
                    &:last-child {
                    margin-right: 0;
                    }
                    &.cancel-btn {
                        background: #757575;
                        border-color: #757575;
                        &:hover {
                            background: #FFF;
                        }
                    }
                }
            }
        }
    }
}
