
.dcalculator-page {
	.disabled {
		pointer-events: none;
		opacity: 0.5;
	}
	&.sp-component-container {
		.sp-component-container-inner {
			min-height: auto;
		}
	}
	.table-wrapper {
		margin-bottom: 20px;
		.calculator-table {
			width: 980px;
			td, th {
				width: 155.5px;
				.ip_number {
					text-align: left;
					max-width: 100px;
				}
				&:first-child, &:last-child {
					width: 100px;
					text-align: center;
					span {
						cursor: pointer;
					}
				}
			}
			
		}
		@media screen and (max-width: 1199px) {            
            overflow-x: auto;
		}
		@media screen and (max-width: 991px) {            
			.calculator-table {
				width: 100%;
				td, th {
					width: 110px;
				}
			}
        }
		
	}
	@media screen and (max-width: 1199px) {     
		.table-wrapper {       
			overflow-x: auto;
			tbody {
				overflow: auto;
			}
		}
		.nav-btns-con {
			padding: 0 15px;
		}
	}
}

.total-con {
	display: flex;
	margin: 10px 0px;
	justify-content: space-between;
	input {
		background: #404348;
	}
	.item-con {
		&:last-child {
			.ip-con {
				margin-right: 0;
			}
		}
		label{
			font-size: 14px;
		}
		.ip-con {
			display: inline-block;
			margin: 0px 10px;
		}
	}
	@media only screen and (max-width: 1199px) {   
		.item-con {
			label  {
				width: 110px;
			}
			.ip-con {
				min-width: 50px;
				width: calc(100% - 120px);
				margin-right: 0;
			} 
		}
	}
	@media only screen and (max-width: 767px) {   
		.item-con {
			width: 100%;
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
			.ip-con {
				max-width: 80px;
			} 
		}
	}
}

