.order-history {
    .table-wrapper {
        max-width: 1100px;
        margin: 0 auto 10px;
        @media screen and (max-width: 1024px) {
            overflow-x: auto;
        }
        td,th {
            width: 226.6px;
            word-break: break-word;
        }
        tr {
            td, th {
                &:nth-child(4), &:nth-child(5), &:nth-child(6) {
                    width: 140px;
                }
            }
        }
    }
}
.ps__rail-y {
    display: block!important;
    opacity: 1!important;
}  